
0 0 * * *  /scripts/certbot-renew.sh > /proc/1/fd/1 2>/proc/1/fd/2
0 3 * * 0  /scripts/delete-expired-certificates.sh > /proc/1/fd/1 2>/proc/1/fd/2
*/5 * * * * /scripts/update-targets.sh > /proc/1/fd/1 2>/proc/1/fd/2
