
server {
    listen 80;

    server_name ${FQDN_API};
    
    set $upstream_api "${UPSTREAM_API}";
    
    location / {
        proxy_pass $upstream_api;
        include /etc/nginx/utils/host;
    }

    include /etc/nginx/utils/letsencrypt;
}